@import "tailwindcss";

:root {
  --smg-blue: 10 88 202;
  --smg-red: 208 0 0;
  --smg-ink: 17 17 17;
  --smg-muted: 107 114 128;
  --smg-bg: 255 255 255;
  --smg-soft: 245 246 248;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--smg-bg));
  color: rgb(var(--smg-ink));
}
